.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* הוסף סגנון ל-App כדי להתאים את התצוגה למכשירים קטנים */
.App {
  text-align: center;
  padding: 20px; /* תיזמן את המרווחים כדי להפוך את התוכן לנוח יותר גם על מכשירים קטנים */
}

/* הגדר גובה נמוך יותר לתמונה במכשירים קטנים */
.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* הסתר את האנימציה במכשירים קטנים כדי לשמור על ביצועים */
@media (max-width: 600px) {
  .App-logo {
    animation: none;
  }
}

/* כמה שינויים ב-App-header כדי להתאים אותו למכשירים קטנים */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin); /* קטן יותר עבור מכשירים קטנים */
  color: white;
}

/* הסתר כמה יתרונות שאין צורך בהם במכשירים קטנים */
@media (max-width: 600px) {
  .App-link {
    display: none;
  }
}

