html, body, #root {
  margin: 0; /*  המרחק של האובייקט כלפי חוץ  */
  padding: 0; /*  המרחק של האובייקטים הפנימיים כלפי האובייקט עצמו  */
  height: 100%; /* כל המסך */
  text-align: center; /* שכל הטקסטים יהיו במרכז */
  color: rgb(28, 18, 18);
  background-image: linear-gradient(45deg, lightblue, white);
}
/*
html{
  overflow:scroll;
  scroll-behavior: smooth;
}
*/

a {
  color: blue;
}

.Box {
  display: inline-block;
  text-align: left;
  border: 2px dashed black;  /*  מקווקו */
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}

.SolidBox {
  display: inline-block;
  text-align: left;
  border: 2px solid black;  /*  מדגיש את התיבה המסומנת */
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px;
}